<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.sc.domain"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/sc/mapper/ScDeviceMapper.xml"/>
        <mapper resource="com/sc/mapper/ScDeviceSignupMapper.xml"/>
        <mapper resource="com/sc/mapper/ScAppUserMapper.xml"/>
        <mapper resource="com/sc/mapper/ScTagMapper.xml"/>
        <mapper resource="com/sc/mapper/ScDeviceTagMapper.xml"/>
    </mappers>
</configuration>
